html
{
	background: url("../images/background.jpg") no-repeat center center fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	color: white;
}


/*
 Navigation
 */
nav ul li.active,
nav ul li.active:hover
{
	border-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.75);
}

nav ul li a,
nav ul li a:visited
{
	color: rgba(255, 255, 255, 0.75);
}

nav ul li a:hover
{
	color: white;
	border-color: white;
}


/*
 Content
 */
h2
{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

p
{
	font-weight: 600;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}


/*
 Footer
 */
footer
{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

footer ul li i
{
	color: white;
}

footer ul li i:hover
{
	color: #5599ae;
}
